<!-- cards/templates/cards/base.html -->
 <!-- Keep in mind, every time I forget to add this template tag,
  at the beginning of the file, it crashes the page -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Leiner Flashcard Learning System project" />
    <title>Leiner Flashcards Learning System integrated with Custom-made LMS</title>
    <!-- This loads a CSS file to add style to the page.s a Django command that helps find where the CSS file is stored -->
    <!-- MAKE SURE THE SYNTAX OF LINK tag is correct-->
    <link rel="stylesheet"  href="{% static 'css/style.css' %}"/>
</head>

<header>
    <h1>Flashcards App</h1>
    <div id="navigation">
        {% include "flashcards/navigation.html" %}
    </div> 
</header>

<body>
    <!--Do I have to have this part. Please make sure you understand the mechanics of it -->
    <!-- An empty div where React will display its content. -->
    <div id="root"></div> 
    <!-- The line below Loads a JavaScript file that starts the React app, 
     which will populate the root div with content. !-->
    <!-- <script src="{% static 'js/main.js' %}"></script>-->

    <header>
        <h1>Leiner Flashcards Learning System</h1>
    </header>

    <main>
        {% block content %}
            <h2>Repetition is the key to mastery!</h2>
        {% endblock content %}
    </main>
</body>

</html>