<!-- cards/templates/cards/base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Leiner Flashcard Learning System project" />
    <title>Leiner Flashcards Learning System integrated with Custom-made LMS</title>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <header>
        <h1>Leiner Flashcards Learning System</h1>
    </header>
    <main>
        {% block content %}
            <h2>Repetition is the key to mastery!</h2>
        {% endblock content %}
    </main>
</body>

</html>