<!-- First, this file gets connected to the main html file, called base.html -->
{% extends "flashcards/base.html" %}
<!-- Purpose of a tag below is to include the 'humanize' library. The lib has filters making data more readable -->
{% load humanize %}
<!-- Using template tags to mark wher ethe content of this 'paragraph' or a 'block' will go -->
{% block content %}
    <div id = 'newCard'>
        <a href="{% url 'flashcard-create' %}" role="button" id="create">✨ Create New Card</a>
    </div>

    <h2>🗃️ All Cards are listed below</h2>
    
    <ul>
        {% for card in flashcard_list %}
            {% ifchanged card.box %}
                <h3>🗃 {{ card.box|ordinal }} Box</h3>
            {% endifchanged %}

            <li>
                <div id = 'flashcard'> <strong>Question:</strong> {{ card.question }}<br>
                <strong>Answer:</strong> {{ card.answer }}<br> </div>
                
                <!-- the dev containeer below helps to edit not hte text but margins and padding for elements inside-->
                <div id = 'buttons'><a href="{% url 'flashcard-update' card.pk %}" role="button" id="update">✏️ Edit</a>
                <a href="{% url 'flashcard-delete' card.pk %}" role="button" id="delete">🗑️ Delete</a></div>
            </li>
            
        {% endfor %}
    </ul>
{% endblock %}